
*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#FAF8F5;
font-family:'Poppins',sans-serif;
overflow-x:hidden;
}

/* NAVBAR */

.navbar{
height:90px;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
background:white;
border-bottom:1px solid #eee;
}

.logo-box{
display:flex;
align-items:center;
gap:12px;
}

.logo-main{
font-family:'Anton',sans-serif;
font-size:52px;
line-height:1;
color:#4C1D95;
}

.logo-text{
display:flex;
flex-direction:column;
font-size:11px;
font-weight:600;
line-height:1.2;
color:#111;
}

.menu-btn{
background:none;
border:none;
font-size:34px;
color:#4C1D95;
cursor:pointer;
}

/* HERO */

.hero{
padding:40px 24px 60px;
}

.welcome{
font-size:14px;
letter-spacing:3px;
font-weight:600;
color:#F97316;
margin-bottom:20px;
}

.hero-title{
font-family:'Anton',sans-serif;
font-size:62px;
line-height:0.92;
color:#111;
}

.hero-title span{
color:#4C1D95;
}

.hero-subtitle{
margin-top:25px;
font-size:30px;
font-style:italic;
font-weight:400;
color:#F97316;
}

.orange-line{
width:70px;
height:4px;
background:#F97316;
margin:20px 0;
}

.hero-text{
font-size:17px;
line-height:1.8;
color:#444;
margin-bottom:30px;
}

.hero-buttons{
display:flex;
flex-direction:column;
gap:14px;
}

.btn-primary{
background:#4C1D95;
color:white;
text-decoration:none;
text-align:center;
padding:16px;
border-radius:8px;
font-weight:600;
}

.btn-secondary{
background:white;
color:#F97316;
text-decoration:none;
text-align:center;
padding:16px;
border:2px solid #F97316;
border-radius:8px;
font-weight:600;
}

/* DESKTOP */

@media(min-width:992px){

.navbar{
padding:20px 80px;
}

.hero{
padding:80px;
max-width:700px;
}

.hero-title{
font-size:120px;
}

.hero-buttons{
flex-direction:row;
}

.btn-primary,
.btn-secondary{
width:250px;
}

}

